@import '../../../styles/index.scss';

.search
{

    display: grid;
    grid-auto-columns: 1fr;
    // grid-template-areas: 'name stars country city'
    //                      'price price price price';
    // grid-template-rows: repeat(2, 1fr);
    // grid-template-columns: repeat(4, 1fr);
    column-gap: 10px;
    row-gap: 15px;
}
.country, .city, .name, .stars, .price
{
    @extend %grid_center;
    width: 100%;
    font-size: 1.5em;
}
.name
{
    grid-column: 1;
}
.stars
{
    grid-column: 2;
}
.country
{
    grid-column: 3;
}
.city
{
    grid-column: 4;
}
.price
{
    grid-column-start: 1;
    grid-column-end: 3;

    .title
    {
        font-size: 1.25em;
    }
}
@media screen and (max-width: 1024px)
{
    .search
    {
        .country, .city, .name, .stars, .price
        {
            font-size: 1.5em;
        }

        .country
        {
            grid-column: 1;
        }
        .city
        {
            grid-column: 2;
        }
        .price
        {
            grid-column-start: 1;
            grid-column-end: 3;
        }
    }
}
@media screen and (max-width: 425px)
{
    .search
    {
        .country, .city, .name, .stars, .price
        {
            font-size: 1em;
        }

        .stars
        {
            grid-column: 2;
        }
        .country
        {
            grid-column: 1;
        }
        .city
        {
            grid-column: 2;
        }
        .price
        {
            row-gap: 5px;
            grid-template-columns: none;
            grid-template-rows: repeat(2, 1fr);
        }
    }
}