@import '../../../styles/index.scss';

.search
{

    display: grid;
    grid-template-areas: 'name stars country city price';
    grid-template-columns: repeat(5, 1fr);
    column-gap: 10px;
    row-gap: 15px;
}
.country, .city, .input, .stars, .price{
    @extend %grid_center;
    width: 100%;
    // height: 3em;
    font-size: 1.5em;
}
.country{
    grid-area: country;
    // font-size: 1.5em;
}
.city
{
    grid-area: city;
    // font-size: 1.5em;
}
.input{

    grid-area: name;
    /* width: 50vw; */
    /* height: 10vh; */
}
.stars{

    grid-area: stars;
}
.price{

    grid-area: price;
}
@media screen and (max-width: 1024px)
{
    .search{
        // grid-template-columns: 50% 50%;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas:'name stars'
                            'country city'
                            'price price';
    }
    .search .country, .search .city, .input, .search .stars{
        font-size: 1.5em;
    }
}
@media screen and (max-width: 425px)
{
    .search{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas: 'name'
                             'stars'
                             'country'
                             'city';
    }
    .search .country, .search .city, .input, .search .stars{
        font-size: 1em;
    }
}