@import '../../../styles/index.scss';


.resort
{
    display: grid;
    height: auto;
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 25px;
    padding: 20px 25px 20px 15px;
    grid-template-rows: 1fr; 
    grid-template-areas: 'search'
                         'choose';
    gap: 35px;

    .search
    {
        grid-area: search;
        display: grid;
        grid-auto-columns: 1fr;
        column-gap: 10px;
        row-gap: 15px;

        .country, .city, .name, .stars, .price
        {
            @extend %grid_center;
            width: 100%;
            font-size: 1.5em;
        }
        .name
        {
            grid-column: 1;
            
            &.not_relax
            {
                grid-column-end: 3;
            }
        }
        .stars
        {
            grid-column: 2;
        }
        .country
        {
            grid-column: 3;
        }
        .city
        {
            grid-column: 4;
        }
        .price
        {
            grid-column-start: 1;
            grid-column-end: 3;
        
            .title
            {
                font-size: 1.25em;
            }
        }
    }

    
    .choose
    {
        @extend %font;
        grid-area: choose;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        // column-gap: 10px;
        gap: 10px;

        .left, .right
        {
            text-align: center;
            width: 100%;

            h1
            {
                @extend %border;
                @extend %button;
                font-size: 1.5em;
                color: black;
                margin: 0;
                padding: 5px 25px;
            }
            
        }
    }
}

@media screen and (max-width: 1024px)
{
    .resort
    {
        .search
        {
            .country, .city, .name, .stars, .price
            {
                font-size: 1.5em;
            }
    
            .country
            {
                grid-column: 1;
            }
            .city
            {
                grid-column: 2;
            }
            .price
            {
                grid-column-start: 1;
                grid-column-end: 3;
            }
        }

        .choose
        {
            
            .left, .right
            {

                h1
                {
                    font-size: 1.5em;
                }
            }
        }
    }
}
@media screen and (max-width: 768px)
{
    .resort
    {
        
        .choose
        {
            grid-template-columns: none;
            grid-template-rows: repeat(2, 1fr);
            padding: 0;

            .left, .right
            {

                h1
                {
                    font-size: 1.1em;
                }
            }
        }
    }
}
@media screen and (max-width: 425px)
{
    .resort
    {
        .search
        {
            .country, .city, .name, .stars, .price
            {
                font-size: 1em;
            }

            .stars
            {
                grid-column: 2;
            }
            .country
            {
                grid-column: 1;
            }
            .city
            {
                grid-column: 2;
            }
            .price
            {
                row-gap: 5px;
                grid-template-columns: none;
                grid-template-rows: repeat(2, 1fr);
            }
        }
        .choose
        {
            grid-template-columns: none;
            grid-template-rows: repeat(2, 1fr);
            padding: 0;

            .left, .right
            {

                h1
                {
                    font-size: .85em;
                }
            }
        }
    }
}
