@import '../../styles/index.scss';

.about_us
{
    @extend %font;
    //
    display: grid;
    row-gap: 25px;
    //
    margin-top: 25px;
    padding: 0 100px;
    //
    .title
    {
        margin-left: 30px;
        font-weight: bold;
    }
    //
    .greetings,
    .info
    {
        color: black;

        .title
        {
            margin: 30px;
            margin-top: 5px;
            font-size: 2em;
        }
        //
        .text
        {
            margin-bottom: 25px;
            padding: 45px;
            padding-top: 0;
            background-color: rgba($color: $primary_color, $alpha: 0.15);
            border: 1px solid $primary_color;
            font-size: 1.5em;

            .line
            {
                height: 0;
                width: 100px;
                margin: 35px auto;
                border: 1px solid $primary_color;
            }

            p
            {
                margin: 0;
            }
        }
    }
    //
    .customers
    {

        .title
        {
            text-align: center;
            font-size: 2em;
            margin-bottom: 30px;
        }

        .icons
        {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: max-content min-content;
            column-gap: 25px;
            row-gap: 15px;
            //
            
            img
            {
                @extend %grid_center;
                grid-row: 1;
                // height: 100%;
                width: 100%;
                object-fit: contain;
            }
            //
            .title
            {
                grid-row: 2;
                text-align: center;
                height: fit-content;
                padding: 5px 10px;
                font-size: 1.25em;
            }
        }
    }
    //
    .also
    {
        
        //
        .title
        {
            margin-left: 20px;
            font-size: 2em;
        }
        //
        .list
        {

            .item
            {
                display: grid;
                grid-template-columns: fit-content(0) max-content;
                column-gap: 10px;

                i, p
                {
                    @extend %grid_center;
                }

                i
                {
                    color: $primary_color;
                    grid-column: 1;

                }
                //
                p
                {
                    padding-bottom: 2.5px;
                    grid-column: 2;
                    font-size: 1.35em;
                }
            }
        }
    }
    //
    .comments
    {
        margin-bottom: 15px;

        .title
        {
            text-align: center;
            font-size: 2em;
        }
    }
}