@import '../../styles/index.scss';
$bgcolor: #99cc60;
$maincolor: #ccff90;
$lightcolor: #ffffc2;
.sanatorii{
    .container{
        width: 80vw;
        margin: 0 auto;
    }
    .nav{
        display: grid;
        
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        //ШРИФТ
        font-size: 1.5em;
        color: white;
        //
        .nav_item{
            text-align: center;
            background-color: $primary_color;
            padding: 10px;
            border-right: 2px solid black;
            &:last-child
            {
                border-right: none;
            }   
            &:hover{
                background-color: #5d82c0
            }
        }
    }

    table{
        border-radius: 10px;
        border-spacing: 0;
        text-align: left;
        width: 100%;
        margin-bottom: 20px;
        border-top-left-radius: 0px; 
        border-top-right-radius: 0px; 
        th{
            background: #1d355d;
            color: white;
            padding: 10px 20px;
            &:first-child
            {
                border-top-left-radius: 0;
            }
            &:last-child
            {
                border-top-right-radius: 0px;
            }
        }
        th, td{
            border-style: solid;
            border-width: 0 2px 2px 0;
            border-color: rgb(190, 190, 190);
            &:last-child{
                border-right: none;
            }
        }
        td{
            padding: 10px 20px;
            background-color: white;
        }
        tr{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
            .item_lech{
                display: grid;
                grid-template-rows: 1fr 1fr;
                grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            }
            .item_service{
                display: grid;
                grid-template-rows: 1fr 1fr;
                grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            }
            .item_photo{
                position: relative;
                i{
                    transform: scale(1.5);
                    color: #1d355d;
                    &:hover+.img{
                        display: block;
                        position: absolute;
                        
                    }
                }
                .img{
                    display: none;
                    z-index: 110;
                    width: 200px;
                    border: 1px solid black;
                }
            }
            &:hover td
            {
                background-color: rgb(219, 219, 219);
            }
        }
    }
}