@import '../../styles/index.scss';

.wrapper
{
    display: grid;
    grid-template-columns: fit-content(0) 1fr;
    column-gap: 5px;

    .input
    {
        @extend %grid_center;
        transform: scale(1.5);
    }
    
    .title
    {
        display: inline-block;
    }
}