@import '../../styles/index.scss';

.compare
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 5px;

    .title
    {
        @extend %grid_center;
    }

    .minimum, .maximum
    {
        display: grid;
        grid-template-columns: min-content 1fr;
        column-gap: 5px;
    }
}
