@import '../../../styles/index.scss';

.header
{
    @extend %font;
    display: grid;
    grid-template-rows: fit-content fit-content;
    row-gap: 25px;
    padding: 25px 0;
    margin: 10px 125px;
    border-bottom: 2px solid $primary_color;

    .logo
    {
        display: grid;
        grid-template-columns: min-content max-content;
        column-gap: 10px;
        margin-left: 7.5px;

        img
        {
            @extend %grid_center;
            grid-column: 1;
        }

        .text
        {
            font-size: 1em;
            grid-column: 2;

            h1, p
            {
                margin: 0px;
            }
        }
    }

    .menu
    {
        display: grid;
        // grid-template-columns: repeat(6, 1fr);
        grid-auto-columns: auto;
        grid-template-rows: 1fr;
        column-gap: 15px;


        .item
        {
            @extend %button;
            grid-row: 1;
            border-top: none;
            border-bottom: none;
            padding: 5px 10px;

            a
            {
                font-size: 1em;
            }
        }
    }
}

@media screen and (max-width: 1024px) 
{
    .header
    {
        display: none;
    }
    
}