@import '../../../styles/index.scss';
//
$delay_time: 1.5s;
$show_time: 0s;
$easing: cubic-bezier(0.33, 1, 0.68, 1);


.notification
{
    @extend %border;
    z-index: 1001;
    position: fixed;
    display: grid;
    grid-template-columns: min-content min-content;
    grid-template-rows: 1fr;
    background-color: $sub_color;
    column-gap: 10px;
    right: -250px;
    bottom: 10px;
    padding: 10px 7.5px;
    opacity: 1;
    width: 290px;
    //
    transition: right $delay_time $show_time $easing;

    // animation: dissapear $show_time $delay_time cubic-bezier(0.33, 1, 0.68, 1);
    // animation-fill-mode: forwards;

    .info
    {
        width: min-content;
        grid-column: 2;
        grid-row: 1;

        p
        {
            @extend %font;
            margin: 0;
            font-size: 1em;
        }
    
        .buttons
        {
            display: grid;
            grid-auto-columns: min-content;
            grid-template-rows: 1fr;
            column-gap: 5px;
            margin-top: 7.5px;

            & > button
            {
                @extend %button;
                grid-row: 1;
                white-space: nowrap;
            }
        }
    }
    
    i
    {
        @extend %grid_center;
        grid-column: 1;
        grid-row: 1;
        font-size: 1.75em;
        //
        transition: transform $delay_time $show_time $easing;
    }
    //
    &.active
    {
        right: 0px;
        // transform: translateX(0.5);

        i
        {
            transform: rotate(180deg);
        }
    }
}
.modal_overlay
{
    background-color: $sub_color;
}
@media screen and (max-width: 425px) 
{
    .notification
    {
        // left: 50px;
        // right: 5px;
        // width: unset;
        // max-width: 100%;
    }    
}

// @keyframes dissapear {
//     from {
//         right: 20px;
//     }

//     to {
//         right: -250px;
//     }
// }