@import '../styles/index.scss';

.main
{
    @extend %border;
    position: relative;
    margin: 5px;
    margin-top: -5px;
    padding: 5px;
    min-height: 90vh;
}

.modal_overlay
{
    background-color: black;
}