@import '../../../styles/index.scss';

.account
{
    display: grid;
    @extend %font;
    padding: 20px 10px;
    // padding-right: 500px;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 10px;
    column-gap: 15px;

    .greetings
    {
        grid-column-start: 1;
        // grid-column-end: 3;

        & > h1
        {
            margin: 5px 0;
            font-size: 1.85em;
        }
    }

    .input
    {
        font-size: 0.75em;
    }

    button
    {
        @extend %button;
        margin-top: 30px;
        padding: 10px 0;
        font-size: 1.25em;
    }
}
