@import '../../../../styles/index.scss';

.title
{
    @extend %font;
    margin: 0;
    font-size: 1.75em;

}

.table
{
    border-color: $primary_color;

    td
    {
        position: relative;

        & > p:not([path="_id"])
        {
            &:hover
            {
                cursor: pointer;
            }

        }

        button
        {
            @extend %button;
            @extend %border;
        }
    }
}

.modal
{   
    display: grid;
    column-gap: 10px;
    row-gap: 15px;

    .variable
    {   
        margin: 0;
        word-break: break-all;
        width: fit-content;

        &:hover
        {
            cursor: pointer;
        }
    }

    .object
    {
        display: grid;
        grid-template-columns: fit-content(0) auto;
        column-gap: 5px;
        row-gap: 2.5px;
    }

    .massive
    {
        display: grid;
        // grid-template-columns: repeat(2, 1fr);
        // grid-auto-columns: auto;
        row-gap: 10px;
        overflow: auto;

        .item
        {
            @extend %border;
            display: grid;
            grid-auto-rows: auto;
            row-gap: 2.5px;
            //
            border-left: none;
            border-right: none;
            padding: 5px 5px;

            &:hover
            {
                cursor: pointer;
            }

            button
            {
                width: fit-content;
                padding: 2.5px 5px;
            }
        }

        .separator
        {
            @extend %border;
            background-color: $primary_color;
            border-width: 1px;
            border-radius: 25px;
        }

        button
        {
            @extend %border;
            @extend %button;
            @extend %font;
            font-size: .8em;
        }
    }
    
    .text
    {
        grid-column: 1;
        font-weight: bold;
    }

    .content
    {
        grid-column: 2;
    }
}