@import '../../../styles/index.scss';

$linkcolor: #a04419;

.footer
{
    padding: 20px 80px;
    background-color: #d1bd87;
    color: $linkcolor;
    a
    {
        text-decoration: underline;
        color: $linkcolor;
    }
    &__dis
    {
        display: flex;
        justify-content: space-between;
        align-items: flex-statr;
    }
    &__left
    {
        &__icon
        {
            img
            {
                width: 50px;
            }
        }

    }
    &__center
    {
        display: flex;
        &__left
        {
            margin-right: 25px;
        }
        a
        {
            margin-right: 5px;
        }
    }
}
    