@import '../../styles/index.scss';

$titlecolor: #866711;
$textcolor: #be9421;
$linkcolor: #a04419;
$fontSizeText: 1.0em;
$fontSizeTitle: 1.2em;
$fontSizeTitleSection: 3em;

%title
{
    font-size: 2em;
    font-family: "Kazimir";
    // transform: skewY(-1.5deg);
    background-color: $primary_color;
    background: linear-gradient(0deg, $primary_color, $sub_color);
    // box-shadow: black 0px 20px 50px 0px;
    p
    {
        text-align: center;
        margin: 0 auto;
        padding: 15px 0;
        text-shadow: black 1px 1px, black 1px 1px, black 1px 1px, black 1px 1px, black 1px 1px;
        color: white;
    }
}

%fontTitleSection
{
    color: $titlecolor;
    font-size: $fontSizeTitleSection;
    font-weight: bold;
}
%fontTitleNews
{
    font-size: $fontSizeTitle;
    color: $linkcolor;
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
}
%fontContentText
{
    font-size: $fontSizeText;
    color: $textcolor;
}
@media screen and (max-width: 425px)
{
    %title
    {
        font-size: 2em;
    }
}


.home
{
    .title
    {
        @extend %title;
    }

    .slider
    {
        height: 300px;
        width: 1150px;
        margin: 0 auto;
    }

    .comments
    {
        // padding: 25px;

        .title
        {
            @extend %title;
        }

        .content
        {
            padding: 25px;
        }
    }

    .list
    {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 400px));
        justify-content: center;
        grid-auto-rows: 550px;
        gap: 10px;
        padding: 15px 10px;
    }
}