@import './index.module.scss';

.nemo_travel
{
    padding: 10px 0;

    .title
    {
        @extend %title;
        margin: 25px auto;
    }

    #fillNemoTravel
    {
        background-color: transparent;
        & > section
        {
        }
    }

}