@import './index.module.scss';

.nemo_travel
{
    padding: 60px 0;
    color: black;
    text-shadow: none;

    .title
    {
        @extend %title;
        margin: 25px auto;
    }

    #fillNemoTravel
    {
        background-color: transparent;
        & > section
        {
        }
    }

}