$titlecolor: #866711;
$textcolor: #be9421;
$linkcolor: #a04419;
$fontSizeText: 0.9em;
$fontSizeTitle: 1.2em;
@import './index.module.scss';

.news
{

    padding: 10px 80px;
    &__title
    {
        @extend %fontTitleSection;
    }
    &__wrapper
    {
        &__item
        {
            margin: 20px 0;
            width: 550px;
            &__title
            {
                @extend %fontTitleNews
            }
            &__text, &__date
            {
                margin-top: 5px;
                @extend %fontContentText
            }
        }
    }
    &__allNews
    {
        margin-top: 100px;
        color: $linkcolor;
    }
    &__socialNetworks
    {
        &__title
        {
            @extend %fontTitleSection;
            font-size: 25px;
        }
        &__wrapper
        {
            margin-top: 20px;
            display: flex;
            justify-content: center;
            img
            {
                width: 120px;
            }
        }
    }
    &__partners
    {
        margin-top: 30px;
        padding: 15px;
        width: 100%;
        border: 3px solid $titlecolor;
        &__title
        {
            @extend %fontTitleSection;
            font-size: 2em;
            text-align: center;
        }
        &__img
        {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            img
            {
                width: 200px;
            }            
        }
    }
}
